/*
Theme Name:     WordPress Theme Foundation Child
Theme URI:      http://jeremiahsturgill.com/
Description:    WTF Child Theme
Author:         Your name here
Author URI:     http://jeremiahsturgill.com/
Template:       wtf_core
Version:        0.1
*/

@import url("../wtf_core/style.css");

@import url("css/custom.css");

a {
	text-decoration:none;
}

/* content blocks stuff */
.header, .content, .footer {
	padding:0 1em;
	overflow:auto;
}

.homepage {
	overflow: auto;
}
.footer {
	border-bottom:none;
}

.content {
	padding: 0 0 1em 0;
}

/* header stuff */
.header {
	text-align:right;
}
.header h1, .header h4 {
	display:inline-block;
	margin:0;
	vertical-align:middle;
}

.header h1 {
	font-weight:normal;
	margin-right:.5em;
}

.header h4 {
	font-weight:normal;
	text-transform:lowercase;
	margin-right:2em;
}

/* main page lists */
.content_block {
	width:33%;
	min-width:320px;
	max-width:800px;
	padding:20px 1em 0 1em;
	margin: 0;
	display:inline-block;
	vertical-align:top;
	text-align:left;
	float:left;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box; 
	}

.project_list h3, .posts h3, .embedded_page.content_block h3 {
	margin:0 0 .5em 0;
	font-weight:normal;
}

/* content block styles */

.project_list .meta ul, .project.single .meta ul {
	padding:.2em 1.5em;
	margin:0;
}

.project_list .meta ul li, .project.single .meta ul li {
	display:inline-block;
	margin-right:1em;
}

.project_list .title, 
.posts .title, 
.posts .excerpt, 
.embedded_page.content_block .page .title, 
.embedded_page.content_block .page .body  {
    padding: 0.4em 1.2em 0 1.2em;
}
.embedded_page.content_block .page {
	margin:0;
	padding:0;
}
.embedded_page.content_block .page .body p {
	margin-top:0;
	margin-bottom:1em;
}
.posts .meta {
	font-size: 80%;
	padding: 1em 1.5em;
	text-align:right;
}

.project .excerpt {
	font-size:85%;
	margin:0 1.5em;
}
.project_list .meta {
	font-size:75%;
	padding: 1em 0;
}

.project_list .project, .posts .post {
	margin:0 0 1em 0;
}

.embedded_page.content_block .page {
	padding-bottom:.5em;
}

.content .homepage .content_block .page .title {
	font-weight:normal;
}

/* single page styles */

.content .single .title, .content .page .title {
	font-weight:bold;
}

.content .single, .content .page {
	max-width:900px;
	margin:1em auto 0 ;
	padding: 1em 1em .5em 1em;
}

.content .project.single .meta {
	font-size:80%;
	padding: .5em 0;
}