body {
	background-color: #F2F2F2;
	color: #5A5A5A;
	/*text-shadow: 0 1px 0 #FFFFFF;/**/
}
.content {
	background-color: #AAAAAA;
}
.textfield {
	background-color: #FAFAFA;
}
a {
	color: #2F66C4;
}
a:hover {
	color: #30B09F;
}
.lowlight{
	color: #7A7A7A;
}
.offset_block {
	background-color: #E6E1D5;
	color: #66645B; 
}
.offset_block.lowlight, .lowlight .offset_block {
	color: #918F82;
}
.offset_block a {
	color: #2D63C4;
}

.offset_block a:hover {
	color: #54AB9F;
}
